<div class="header-container">
    <h1>World Population Dashboard</h1>
    <ul class="navigator">
        <li> <a routerLink=""> <button mat-button color="primary">Population</button> </a> </li>
        <li> <a routerLink="/density"> <button mat-button color="primary">Density</button>  </a> </li>
        <li> <a routerLink="/land-area"> <button mat-button color="primary">Land Area</button> </a> </li>
    </ul>
    <app-network-connection></app-network-connection>
    <app-scroll-to-top></app-scroll-to-top>
</div>
